* {
    -btn-blue-color: #00539B;
    -btn-blue-hover-color: #0260b2;
    -btn-secondary-color: #7A9897;
    -btn-secondary-hover-color: #8fb2b0;
}

/* Default styles override */
/* Remove textfield bottom line */
.text-field {
    -fx-border-width:0px !important;
    -fx-alignment: center;
    -fx-effect: null;
}

.text-field:hover,
.text-field:focused,
.text-field:selected {
    -fx-border-width:0px !important;
    -fx-alignment: center;
    -fx-effect: null;
}
/* Normal styles below */

.background {
    -fx-background-color: #F4F6F8;
    -fx-border-width: 1px;
    -fx-border-color: #D5D5D5;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.outer-background {
    -fx-background-color: #E9E9E9;
}

.normal-btn {
    -fx-background-color: -btn-blue-color !important;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-text-fill: white !important;
}

.normal-btn:hover {
    -fx-text-fill: white !important;
    -fx-background-color: -btn-blue-hover-color !important;
}

.normal-btn:focused,
.normal-btn:pressed,
.normal-btn:armed {
    -fx-text-fill: white !important;
    -fx-background-color: derive(-btn-blue-hover-color, -10%) !important;
}

.secondary-btn {
    -fx-background-color: -btn-secondary-color !important;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-text-fill: white !important;
}

.secondary-btn:hover {
    -fx-text-fill: white !important;
    -fx-background-color: -btn-secondary-hover-color !important;
}

.secondary-btn:focused,
.secondary-btn:pressed,
.secondary-btn:armed {
    -fx-text-fill: white !important;
    -fx-background-color: derive(-btn-secondary-hover-color, -10%) !important;
}

.begin-operator-btn {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-background-color: -btn-blue-color;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

.generate-qc-report-btn {
    -fx-font-size: 32px;
    -fx-background-color: #7A9897;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

.generate-qc-report-btn:hover {
    -fx-background-color: #8fb2b0;
}

.text-field-style {
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-border-color: #E5E7EB;
    -fx-font-size: 32;
}

.text-field-login {
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: #d3d5d8;
    -fx-font-size: 24;
}

.text-field-login:focused {
    -fx-border-color: -btn-blue-color;
}

.login-btn {
    -fx-font-size: 32px;
    -fx-background-color: -btn-blue-color;
    -fx-background-radius: 8px;
    -fx-text-fill: white;
}

.hover-label:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

.secondary-color {
    -fx-background-color: #7A9897;
}

.secondary-color:focused,
.secondary-color:hover {
    -fx-background-color: #8fb2b0;
}

.primary-color {
    -fx-background-color: -btn-blue-color;
}

.warning-color {
    -fx-background-color: #ff4d4d;
}

.warning-color:focused,
.warning-color:hover {
    -fx-background-color: #ff1a1a;
}

.text-muted {
    -fx-text-fill: #616161;
}

.logout-button:hover {
    -fx-background-color: -primary-swatch-600 !important;
}

.text-area-comment {
    -fx-font-size: 24px !important;
}

.comment-text-area {
    text-area-background: blue;
}

.comment-text-area .content {
    -fx-background-color: transparent;
}

.picture-process-scrollpane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.picture-process-preview-container {
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: #d3d5d8;
    -fx-background-color: white;
}

.report-view-modal {
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.report-view-modal-pdf {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: lightgray transparent transparent transparent;
}