* {
    -btn-blue-color: #00539B
}

.background {
    -fx-background-color: #F4F6F8;
    -fx-border-width: 1px;
    -fx-border-color: #D5D5D5;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.outer-background {
    -fx-background-color: #E9E9E9;
}

.take-photo-btn {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-background-color: -btn-blue-color;
    -fx-background-radius: 8px;
}

.generate-qc-report-btn {
    -fx-font-size: 32px;
    -fx-background-color: #7A9897;
    -fx-background-radius: 8px;
}

.text-field-style {
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-border-color: #E5E7EB;
    -fx-font-size: 32;
}

.text-field-login {
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-border-color: #E5E7EB;
    -fx-font-size: 24;
}

.login-btn {
    -fx-font-size: 32px;
    -fx-background-color: -btn-blue-color;
    -fx-background-radius: 8px;
}

.secondary-color {
    -fx-background-color: #7A9897;
}

.primary-color {
    -fx-background-color: #00539B;
}

